:root {
  --bg-head-foot: blue;
  --bg-main: green;
  --bg-aside: orange;
  --text-color: white;
  --padding: 20px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  min-height: 0;
}

aside {
  background-color: var(--bg-aside);
  color: var(--text-color);
  width: 150px;
  flex: none;
  padding: var(--padding);
}

main {
  background-color: var(--bg-main);
  color: var(--text-color);
  flex: 1 1 auto;
  padding: var(--padding);
  overflow: auto;
  min-height: 0;
}

header {
  background-color: var(--bg-head-foot);
  color: var(--text-color);
  padding: var(--padding);
}

footer {
  background-color: var(--bg-head-foot);
  color: var(--text-color);
  padding: var(--padding);
}

@media (max-width: 640px) {
  :root {
    --bg-head-foot: orange;
    --bg-main: greenyellow;
    --bg-aside: pink;
    --text-color: black;
    --padding: 10px;
  }
  div {
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  header,
  footer {
    font-weight: bold;
  }

  aside,
  header,
  footer,
  main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
}
